<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>792934678433-2k1bvvfm97c4fh9rbpgt0oe6h2h99s8c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792934678433-2k1bvvfm97c4fh9rbpgt0oe6h2h99s8c</string>
	<key>API_KEY</key>
	<string>AIzaSyCjtn9YWZhvZHK6o2c2381MH0dZfWrUkHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>792934678433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.annagogley.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-fb295</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-fb295.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792934678433:ios:590f662ead9bfb33ae55e0</string>
</dict>
</plist>